<p id="notice"><%= notice %></p>


<section class="section">
  <div class="container">
    <div class='columns'>
      <div class='column is-three-quarters'>
        <h1 class='title is-2'>Secrets</h1><hr>
        <% @posts.each do |post| %>
          <div class='box'>
            <article class='media'>
              <div class='media-content'>
                <div class='content is-large'>
                  <p class="title"><%= post.title %></p>

                  <% if user_signed_in? %>
                    <p class="subtitle">Author: <%= post.user.name %></p>
                  <% else %>
                    <p class="subtitle">Author: Anonymous</p>
                  <% end %>

                  <p><%= post.body %></p><br />
                </div>
              </div>
            </article>
          </div>
        <% end %>
      </div>
      <div class="column is-quarter">

      </div>
    </div>
  </div>
</section>
<br>

